<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout" th:with="title='Hello, template'">
<th:block layout:fragment="content">
	<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  -->
	<!-- <link href="./static/stylesheets/dashboard/dashboard.css" rel="stylesheet" /> -->
	
	
	<link href="./static/stylesheets/wishlistWork/wishlistWork.css"
		rel="stylesheet" />
	<div class="right-section">
		
		<!-- <div class="container-fluid mt-3"> -->
		<!-- <div class="text-center col-md-12" id="notificationMsgDiv"
				style="display: none">
				<div class="d-inline-block">
					<div class="form-validation form-validation--info p-1 my-1">
						<i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
						<h5 class="d-inline-block" id="notificationMsg">Please Fill
							Mandatory Fields</h5>
					</div>
				</div>
			</div> -->
		<div class="tab-section col-md-12 mt-3">
			<ul class="nav nav-pills">
				<li class="nav-item mr-5"><a class="nav-link"
					data-toggle="pill" href="#"
					onclick="window.location.href='./userProfile'"><p>Update
							User Profile</p> </a></li>
				<li class="nav-item mr-5"><a class="nav-link active"
					data-toggle="pill" href="#"><p>Add Favorite Menu</p> </a></li>
					
					<li class="nav-item mr-5"  onclick="window.location.href='lastLoginDetail';"><a class="nav-link "
					data-toggle="pill" style="cursor:allowed; pointer-events: all"
					href="#">Last 10 Login Details</a></li> 

			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="tab-content px-4 py-4">
			<div class="container-fluid">
				<div class="tab-pane form-wrapper show in active">
					<div class="row text-right px-2 py-2">
						<div class="col-md-12">
							<form id="addmenuListForm" th:object="${loginUser}" autocomplete="off">
								
								<input type="hidden" id="user_code" name="user_code" th:value="${#session.getAttribute('LOGIN_USER').user_code}" />
								<input type="hidden" id="action" name="action" th:value="${action}" /> 
								<input type="hidden" id="Role_Code" name="Role_Code" th:value="${Role_Code}" />
									

								<div class="filter-section my-1 pt-1">
									<div class="row sec-bottom">
										<div class="col-lg-10 col-xl-11">
											<div class="row form-group">
												<div class="col-lg-3">
													<input type="text" class="form-control" id="search_entity"
														placeholder="Search here"
														onkeydown="return (event.keyCode!=13);">
												</div>

											</div>
										</div>
										<div
											class="col-lg-2 col-xl-1 pl-0  d-flex justify-content-between">
											<button type="button"
												class="btn btn-primary addon-btn filter-inner-btn"
												title="Search" onclick="FindMenuList()">
												<i class="fa search"></i>
											</button>
											<button type="button"
												class="btn btn-primary addon-btn filter-inner-btn"
												title="Clear" onclick="window.location.reload();">
												<i class="fa clear"></i>
											</button>
											<button type="button"
												class="btn btn-primary addon-btn filter-inner-btn more-filter-option-btn"
												title="No Extra Filters" data-toggle="collapse"
												data-target="#extra-filter">
												<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
											</button>
										</div>


									</div>
								</div>
								</form>

                                    <div th:fragment="ajaxListCard">
									<div class="px-4 py-4" id="dataspan">
										<div class="row pt-3" >
											<div class="col-md-3"
												th:if="${List!= null && !List.isEmpty()}"
												th:each="item,index_count:${List}">
												<div class="media header p-4 kpi bg-white1"
													style="height: 40px; width: 330px">
													<div class="kpi-icon1" style="height: 50px;">

                                        <input type="hidden" id="code" name="code" th:value="${favmenu}" />
						                <input type="hidden" id="test_code" name="test_code" value="${searchvalue}" />
						                 <input type="hidden" id="newcode" name="newcode" th:value="${substr2}" />
						                 
						                
														<div>
														 <input type="hidden" id="checked_code" name="checked_code"  th:value="${item.menu_code}"/>
														
															<ul th:each="i,index:${favmenuList}"
																th:if="${i.menu_code} == ${item.menu_code}">
																<input class="star" type="checkbox"
																	th:checked="${i.menu_code}"
																	th:id="'menu_code~'+${index_count.count}+'~'+${i.menu_code}"
																	name="menu_code" th:value="${i.menu_code}"
																	onclick="Validation();" >
																	
																<label th:id="'action~'+${index.count}"
																	th:for="'action~'+${index.count}"
																	th:value="${i.menu_code}"></label>
															</ul>
														</div>
														<ul>
															<input class="star" type="checkbox"
																th:id="'menu_code~'+${index_count.count}+'~'+${item.menu_code}"
																name="menu_code" th:value="${item.menu_code}"
																onclick="Validation(this.id);" >
															<label th:id="'action~'+${index_count.count}"
																th:for="'action~'+${index_count.count}"
																th:value="${item.menu_code}"></label>

														</ul>

													</div>

													<div class="media-body text-muted">
														<span th:title="${item.menu_name}"
															th:text="${item.menu_name}"
															th:id="'action_value~'+${index_count.count}+'~'+${item.menu_code}"
															class="text-center"></span>
													</div>
												</div>
											</div>
											<div th:unless="${List!= null && !List.isEmpty()}">
												<div class="text-center";>No Record Found</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div>
							<div>
							
						

								<div class="text-center">
									<div class="col-md-4 offset-md-4">
										<div class="form-group">
											<button type="button" id="btn" title="Save & Exit"
												class="form-btn" onclick="SaveList();">
												<i class="fa fa-floppy-o" aria-hidden="true"></i> <span
													th:text="${action != null && action == 'edit'  ? 'Update & Exit' : 'Save & Exit'}">Save & Exit
													</span>
											</button>
											<button type="button" class="form-btn"
												onclick="window.location.href='./dash-admin'";>
												<i class="fa cancel" aria-hidden="true"></i>Cancel
											</button>


										</div>

									</div>
								</div>
							

						</div>

					</div>

				</div>
			</div>



		</div>


	
	
	<script type="text/javascript" src="./static/js/userProfile.js"></script>
	<script>
		document.addEventListener('keypress', function(e) {
			if (e.keyCode === 13 || e.which === 13) {
				e.preventDefault();
				return false;
			}

		});
	</script>
	
</th:block>
</html>