<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout" th:with="title='Hello, template'">

<th:block layout:fragment="content">

	
	<link href="./static/stylesheets/wishlistWork/wishlistWork.css" rel="stylesheet" />
	
	<div class="right-section">
		

		<div class="tab-section col-md-12 mt-3">
			<ul class="nav nav-pills">
				<li class="nav-item mr-5"><a class="nav-link active"
					data-toggle="pill" href="#"><p>Entity Dashboard</p> </a></li>
				<li th:if="${#session.getAttribute('LOGIN_USER').add_right.equalsIgnoreCase('1')}" onclick="window.location.href='./entityEntry'" class="nav-item"><a

					class="nav-item mr-5" data-toggle="pill" href="#"><p>Entity Creation</p></a></li>
				
             </ul>


</ul>
			<div class="clearfix"></div>
		</div>

		<div class="clearfix"></div>
		<div class="tab-content form-wrapper px-4 py-4">

			    <form id="entityDetail" th:object="${dataGridDTO}" class="px-2 py-2">
				<input type="hidden"th:value="${dataGridDTO.paginator.totalRecords}" name="paginator.totalRecords" id="totalRecords" />
				<input type="hidden" th:value="${dataGridDTO.paginator.totalPages}" name="paginator.totalPages" id="totalPages" /> 
				<input type="hidden" th:value="${dataGridDTO.paginator.recordsPerPage}" name="paginator.recordsPerPage" id="recordsPerPage" />
				<input type="hidden" th:value="${dataGridDTO.paginator.dataGridAction}" id="dataGridAction" /> 
				<input type="hidden" 	th:value="${dataGridDTO.paginator.pageNumber}"	name="paginator.pageNumber" id="pageNumber" />
			    <input type="hidden" id="fltrformId" value="entityDetail">
			    <input type="hidden" id="mode"  name="mode" th:value="${mode}">
			                      <div class="col-lg-col-xl-">
												<label class="control-label">View Mode<span
													class="text-danger font-weight-bold ml-1"></span>
												</label>
											
                                                 <input type="radio" th:id="Text"   name="modeType"    onclick="getLoadView(this.id);"   th:value="Text"><label class="form-check-label" for="newscheck1">Text View</label>
												 <input type="radio" th:id="Card"   name="modeType"    onclick="getLoadView(this.id);"   th:value="Card"  ><label class="form-check-label" for="newscheck2">Card View</label>
											</div>
			                 <br>
							<div class="filter-section my-1 pt-1">
								<div class="row sec-bottom">
									<div class="col-lg-10 col-xl-11">
										<div class="row form-group">
										
										<div class="col-lg-3">
										<input type="text" class="form-control" id="search_entity"  name="search_entity" placeholder="Search here" style="display: inline-block;"  onkeydown="return (event.keyCode!=13);">
										</div>
								
									          <!-- <div class="col-lg-3 text-right">
												<label class="control-label">View Mode<span
													class="text-danger font-weight-bold ml-1"></span>
												</label>
											</div>
											<div class="col-lg-3">
                                                 <input type="radio" th:id="Text"   name="modeType"    onclick="getLoadView(this.id);"   th:value="Text"><label class="form-check-label" for="newscheck1">Text View</label>
												 <input type="radio" th:id="Card"   name="modeType"    onclick="getLoadView(this.id);"   th:value="Card"  ><label class="form-check-label" for="newscheck2">Card View</label>
											</div> -->
									
									
										</div>
											
										
									</div>
									
									<div class="col-lg-2 col-xl-1 pl-0  d-flex justify-content-between">
										<button type="button"
											class="btn btn-primary addon-btn filter-inner-btn"
											title="Search" onclick="EntitySearch()">
											<i class="fa search"></i>
										</button>
										<button type="button"
											class="btn btn-primary addon-btn filter-inner-btn"
											title="Clear" onclick="entityDefaultRefresh();">
											<i class="fa clear"></i>
										</button>
										<button type="button"
											class="btn btn-primary addon-btn filter-inner-btn more-filter-option-btn"
											title="No Extra Filters" data-toggle="collapse"
											data-target="#extra-filter">
											<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
										</button>
									</div>


								</div>
							</div>
							
										
							
                      </form>

							<div class="clearfix"></div>
							<div class="clearfix"></div>

			<div th:replace="fragments/paginator/paginatorTop :: getPaginatorTop"></div>
			<div th:replace="fragments/paginator/paginatorSettings :: getPaginatorSettings"></div> 
			    <div class="clearfix"></div>
                <div th:fragment="ajaxEntityList" >
                 <div class="scrolldown">
 				<div class="table overflow-hidden"   id="dataSpan">
 			   <table class="table" id="table"  style="overflow-y: auto; max-block-size: fit-content;">
 			  
						<thead>
						<tr>
							<th class="th-action">Action</th>
							                <th>Sr. No</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Entity Code</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Entity Name</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Parent Code</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>

								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Division</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Address</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Line1</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Line2</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>

								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">City Name</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Pin Code</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">District</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>

								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Country</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Phone No</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Email Id</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Currency Code</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Print Name / short Name</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Website</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Db_User</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
								<th class="header">
									<div class="table-head-inner">
										<div class="table-heading">Db_User_Password</div>
										<div class="sort-icon">
											<i class="fa fa-sort-desc"></i> <i class="fa fa-sort-asc"></i>
										</div>
									</div>
								</th>
							</tr>

						</thead>
						
						 <tbody >
						
                            </tbody>
                  	</table>
                  
				</div>
				</div>
				
				
				<div class="action-section bg-white text-center fixed-bottom" id="actiondiv">
			<button type="button" class="action-btn action-btn--view mr-2" id="viewbtn"
				 style="display: inline-block;" data-toggle="modal" data-target="#myModal"
				onclick="viewEntityText();">
				<i class="fa fa-pencil"></i>View
			</button>
		
				<button type="button" class="action-btn action-btn--edit mr-2"
					id="editBtn" onclick="editEntityText();" style="display: inline-block;">
					<i class="fa fa-pencil"></i>Edit
				</button>

			</div>
		</div>
		</div>
			</div>


			
		</div>



		<!-- view box -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModal" aria-modal="true" data-backdrop="static"
			data-keyboard="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="">Details</h5>
						<button type="button" title="close" class="close"
							data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">X</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="">
							<div class="row">
								<div class="col-md-12">
									<table class="table details-table " style="text-align: left">
										<tbody id="ModelTableBody">
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					</div>
					
					<script type="text/javascript"
						src="./static/js/entityForm/entityMust.js"></script>

					<script type="text/javascript">
						loadDataUsingPaginator('entityDetail');
						document.addEventListener('keypress', function (e) {
						    if (e.keyCode === 13 || e.which === 13) {
						        e.preventDefault();
						        return false;
						    }
						    
						});
					</script>
					<script type="text/javascript">
						loadData();
					</script>
	
						
			
				
            

				
</th:block>
</html>
