<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout" th:with="title='Hello, template'">

<th:block layout:fragment="content">
<link href="./static/css/global/calendar/dhtmlxcalendar.css" rel="stylesheet">
<link href="./static/stylesheets/requisition/requisition.css" rel="stylesheet">
<link href="./static/stylesheets/importantUrl/importantUrl.css" rel="stylesheet" />
<link href="./static/stylesheets/dashboard/dashboard-new.css" rel="stylesheet" />
	<div class="right-section">

			<div class="tab-section col-md-12 mt-3">
				<ul class="nav nav-pills">
					<li class="nav-item mr-5"
						onclick="window.location.href='./onsiteReqDash'"><a
						class="nav-link " data-toggle="pill" href="#"><p>Onsite   Requisition Dashboard</p> </a></li>
					<li class="nav-item mr-5"><a class="nav-link active"
						data-toggle="pill" href="#"><p>
								<th:block
									th:text="${action != null && action == 'save' ? 'Onsite Requisition Entry' : 'Edit Onsite Requisition'}">Onsite Requisition Entry</th:block>
							</p></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<input type="hidden" id="action" name="action" th:value="${action}" />
			<!-- <div class="col-md-12 my-1"> <h4 class="page-title mb-2"><th:block th:text="${action != null && action == 'save' ? 'Add' : 'Edit'}">Add </th:block> Project</h4></div>  -->
			<div class="tab-content form-wrapper px-4 py-4">
				<form id="onsiteReqEntryForm" th:object="${onsiteReqEntity}"
					autocomplete="off">
					<input type="hidden" class="form-control" id="req_code"
						name="req_code"
						th:value="${onsiteReqEntity != null ? onsiteReqEntity.req_code : ''}">

					<div class="row form-group">
						<div class="col-lg-4 col-xl-4 text-right">
							<label class="control-label"> Type of Issue <span
								class="text-danger font-weight-bold ml-1">*</span>
							</label>
						</div>
						
						<div class="col-lg-7 col-xl-4">
						<div
							th:if="${reqIssueType!= null}"> 
							<select class="form-control" name="req_type"
								id="req_type" title="" placeholder="Type of Issue" onchange="showApplicationTab();">
								<option value="">--Select Type of Issue--</option>
								<option
									th:each="issue_type_code : ${reqIssueType.entrySet()}"
									th:value="${issue_type_code.key}"
									th:text="${issue_type_code.value}" ></option>
							</select>
						</div>
						<div
							th:unless="${reqIssueType!= null}">
							<select class="form-control" name="req_type"
								id="req_type" title="" placeholder="Type of Issue" onchange="showApplicationTab();">
								<option value="">--Select Type of Issue--</option>
								<option
									th:each="issue_type_code : ${reqIssueType.entrySet()}"
									th:value="${issue_type_code.key}"
									th:text="${issue_type_code.value}" ></option>
							</select>
						</div>
                        </div>
                        
                        
					</div>
					<div class="row form-group" style="display: none;" id="app_name" name="app_name">
						<div class="col-lg-4 col-xl-4 text-right" >
							<label class="control-label" id="req_id_onsite">Application Name <span
								class="text-danger font-weight-bold ml-1" id="star">*</span>
							</label>
						</div>
						<div class="col-lg-7 col-xl-4">
							<input type="text" class="form-control" id="project_name"
								name="project_name" placeholder="">
						</div>

					</div>
					
                        <div class="row form-group">
						<div class="col-lg-4 col-xl-4 text-right">
							<label class="control-label"> Issue Description <span
								class="text-danger font-weight-bold ml-1">*</span>
							</label>
						</div>
						<div class="col-lg-7 col-xl-4">

							<textarea class="form-control"
								id="issue_description" name="issue_description"
								placeholder="Issue Description" rows="5"></textarea>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-lg-4 col-xl-4 text-right">
							<label class="control-label"> Info About Issue <span
								class="text-danger font-weight-bold ml-1">*</span>
							</label>
						</div>
						<div class="col-lg-7 col-xl-4">

							<textarea class="form-control"
								id="sample_data_filter_str" name="sample_data_filter_str"
								placeholder="Info About Issue" rows="5"></textarea>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-lg-4 col-xl-4 text-right">
							<label class="control-label"> Upload Attachment<span
								class="text-danger font-weight-bold ml-1">*</span>
							</label>
						</div>

						
						<div class="col-lg-7 col-xl-4">
   						<div class="file">
								<input type="file" class="form-control" name="onsite_req_att"
									id="onsite_req_att" th:text="${onsite_req_att}" />
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-4 col-xl-4 text-right">
							<label class="control-label"> Target Date<span
								class="text-danger font-weight-bold ml-1">*</span>
							</label>
						</div>
						 <div class="col-lg-4 col-xl-4">
	                    	<div class="input-group" >
	                    	 <input type="text" name="deploy_delivered_date" id="deploy_delivered_date" class="form-control" placeholder="Target Date"  onmouseover="openCalendarTarget('deploy_delivered_date', 'completionDateCal');"  oninput="this.value = this.value.replace(/[^0-9\-]+/g, '').replace(/(\..*)\./g, '$1');" /> 
							<div class="input-group-append">
                                <button type="button" class="btn btn-primary addon-btn" id="completionDateBtn" onmouseover="openCalendarTarget('deploy_delivered_date', 'completionDateCal');"><i class="fa fa-calendar" id="completionDateCal"></i>
                               </button>
                            </div> 
	                    	</div>
	                    	</div>
	                
	                  
	                    </div>
					
					</div>
	
					<div class="row">
						<div class="col-md-4 offset-md-4">
							<div class="form-group  text-center">
								<button type="button" class="form-btn"
									th:if="${action != null && action == 'save'}"
									onclick="saveOnsiteReqEntry();">
									<i class="fa save" aria-hidden="true"></i>Save & Exit
								</button>
								
								<button type="button" class="form-btn"
									th:if="${action != null && action == 'save'}"
									onclick="window.location.href='./onsiteReqEntry'">
									<i class="fa fa-undo" aria-hidden="true"></i>Reset
								</button>
								<button type="button" class="form-btn"
									onclick="window.location.href='./onsiteReqDash'">
									<i class="fa cancel" aria-hidden="true"></i>Cancel
								</button>
							</div>
						</div>
					</div>

				</form>
			</div>
	<script type="text/javascript" src="./static/js/global/bootstrap-multiselect.min.js"></script>
	<script type="text/javascript" src="./static/js/global/calendar/dhtmlxcalendar.js"></script>
	<script type="text/javascript" src="./static/js/requisition/requisition.js"></script>
	</div>
	
	
</th:block>
</html>